<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.asd.mapper.PartyMapper">
	<resultMap type='team.asd.entity.Party' id='PartyResultMap'>
		<id property='id' column='id'/>
		<result property='name' column='name'/>
		<result property='state' column='state'/>
		<result property='postalAddress' column='postal_address'/>
		<result property='emailAddress' column='email_address'/>
		<result property='mobilePhone' column='mobile_phone'/>
		<result property='password' column='password'/>
		<result property='currency' column='currency'/>
		<result property='userType' column='user_type'/>
		<result property='version' column='version'/>
	</resultMap>

	<resultMap id="PartyReportResultMap" type="team.asd.dto.PartyReportDto">
			<id property='id' column='p_id'/>
			<result property='name' column='p_name'/>
			<result property='state' column='p_state'/>
			<result property='postalAddress' column='p_postal_address'/>
			<result property='emailAddress' column='p_email_address'/>
			<result property='mobilePhone' column='p_mobile_phone'/>
			<result property='password' column='p_password'/>
			<result property='currency' column='p_currency'/>
			<result property='userType' column='p_user_type'/>
		<association property="channelPartner" javaType="team.asd.dto.PartyChannelDto">
			<result property='abbreviation' column='cp_abbreviation'/>
			<result property='channelName' column='cp_channel_name'/>
			<result property='commission' column='cp_commission'/>
			<result property='isFundsHolder' column='cp_funds_holder'/>
		</association>
		<association property="propertyManager" javaType="team.asd.dto.PartyManagerDto">
			<result property="isFundsHolder" column="pm_funds_holder"/>
			<result property="paymentAmount" column="pm_payment_amount"/>
			<result property="paymentType" column="pm_payment_type"/>
			<result property="commission" column="pm_commission"/>
		</association>
		<collection property="managerToChannel" ofType="team.asd.dto.ManagerToChannelDto">
			<id property="id" column="mtc_id"/>
			<result property="propertyManagerId" column="mtc_property_manager_id"/>
			<result property="channelPartnerId" column="mtc_channel_partner_id"/>
			<result property="channelPartnerCommission" column="mtc_channel_partner_commission"/>
			<result property="isFundsHolder" column="mtc_funds_holder"/>
			<result property="isNetRate" column="mtc_net_rate"/>
		</collection>
	</resultMap>

	<sql id="partyColumnList">
		id, name, state, postal_address, email_address, mobile_phone, password, currency, user_type, version
	</sql>

	<sql id="partyColumnListForJoin">
		p.id, p.name, p.state, p.postal_address, p.email_address, p.mobile_phone, p.password, p.currency, p.user_type, p.version
	</sql>

	<sql id="partyReportColumnList">
		p.id AS p_id, p.name AS p_name, p.state AS p_state, p.postal_address AS p_postal_address, p.email_address AS p_email_address,
		p.mobile_phone AS p_mobile_phone, p.password AS p_password, p.currency AS p_currency, p.user_type AS p_user_type, cp.abbreviation AS cp_abbreviation,
		cp.channel_name AS cp_channel_name, cp.commission AS cp_commission, cp.funds_holder AS cp_funds_holder,	pm.funds_holder AS pm_funds_holder,
		pm.payment_amount AS pm_payment_amount, pm.payment_type AS pm_payment_type, pm.commission AS pm_commission, mtc.id AS mtc_id,
		mtc.property_manager_id AS mtc_property_manager_id, mtc.channel_partner_id AS mtc_channel_partner_id,
		mtc.channel_partner_commission AS mtc_channel_partner_commission, mtc.funds_holder AS mtc_funds_holder, mtc.net_rate AS mtc_net_rate
	</sql>

	<select id="readById" parameterType="int" resultMap="PartyResultMap">
		SELECT
		<include refid="partyColumnList"/>
		FROM party
		WHERE id = #{id}
	</select>

	<select id="readByUserTypeNameState" parameterType="java.lang.String" resultMap="PartyResultMap">
		SELECT
		<include refid="partyColumnList"/>
		FROM party
		WHERE name = #{name}
		<if test="userType != null">
			AND user_type = #{userType}
		</if>
		<if test="state != null">
			AND state = #{state}
		</if>
	</select>

	<select id="readByEmailUserTypeNameState" parameterType="java.lang.String" resultMap="PartyResultMap">
		SELECT
		<include refid="partyColumnList"/>
		FROM party
		WHERE email_address = #{emailAddress}
		<if test="userType != null">
			AND user_type = #{userType}
		</if>
		<if test="name != null">
			AND name = #{name}
		</if>
		<if test="state != null">
			AND state = #{state}
		</if>
	</select>

	<select id="readByChannelMaskUserType" parameterType="java.lang.String" resultMap="PartyResultMap">
		<bind name="channelNameStartsWith" value="mask + '%'"/>
		SELECT
		<include refid="partyColumnListForJoin"/>
		FROM party p JOIN channel_partner cp ON p.id = cp.party_id
		WHERE cp.channel_name LIKE #{channelNameStartsWith}
		AND p.user_type = #{userType}
		AND p.state IN ('Created', 'Suspended')
	</select>

	<select id="readReportById" parameterType="int" resultMap="PartyReportResultMap">
		SELECT
		<include refid="partyReportColumnList"/>
		FROM party p LEFT JOIN channel_partner cp on p.id = cp.party_id LEFT JOIN property_manager_info pm on p.id = pm.pm_id
		LEFT JOIN manager_to_channel mtc ON mtc.channel_partner_id = cp.id OR mtc.property_manager_id = pm.id
		WHERE p.id = #{id} AND (cp.state IS NULL OR cp.state = 'Created') AND (pm.state IS NULL OR pm.state = 'Created')
	</select>

	<insert id="create" parameterType="team.asd.entity.Party">
		INSERT INTO party(name, state, postal_address, email_address, mobile_phone, password, currency, user_type)
		VALUES (#{name}, #{state}, #{postalAddress}, #{emailAddress}, #{mobilePhone}, #{password}, #{currency}, #{userType})
	</insert>

	<update id="update" parameterType="team.asd.entity.Party">
		UPDATE party
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="state != null">state = #{state},</if>
			<if test="postalAddress != null">postal_address = #{postalAddress},</if>
			<if test="emailAddress != null">email_address = #{emailAddress},</if>
			<if test="mobilePhone != null">mobile_phone = #{mobilePhone},</if>
			<if test="password != null">password = #{password},</if>
			<if test="currency != null">currency = #{currency},</if>
			<if test="userType != null">user_type = #{userType}</if>
		</set>
		WHERE id = #{id}
	</update>

	<update id="deleteById" parameterType="int">
		UPDATE party
		SET state = 'Final'
		WHERE id = #{id}
	</update>
</mapper>
